@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Ms+Madi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Mooli';
}

body {
  background-image: url(./assets/background-portfolio.png);
}

#root,
#app {
  min-height: 100vh;
}

.fade-in {
  transition: opacity 5s ease-in-out, filter 3s ease-in-out;
}

.name {
  animation: glowing 2s ease-in infinite;
}

@keyframes glowing {
  0% {
    filter: drop-shadow(0px 5px 10px #73c6b9);
  }

  25% {
    filter: drop-shadow(0px 5px 10px #73c6b986);
  }

  50% {
    filter: drop-shadow(0px 5px 10px #73c6b959);
  }

  75% {
    filter: drop-shadow(0px 5px 10px #73c6b986);
  }

  100% {
    filter: drop-shadow(0px 5px 10px #73c6b9);
  }
}

@media (max-width: 1200px) {
  .intro {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .intro img {
    margin-top: 5vh;
  }
}
